.react-colorful__saturation {
    border: inherit !important;
    border-radius: 4px !important;
    box-shadow: inherit !important;
}
.react-colorful__hue {
    border-radius: 4px !important;
    margin-top: 7.5px !important;
    height: 5px !important;
}

.react-colorful__pointer {
    border: 2px solid var(--bg-main) !important;
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
    cursor: pointer !important;
    pointer-events: all !important;
    appearance: none !important;
    box-shadow: 0 0 0 1px var(--contrast-sheer) !important;
  }

  .react-colorful__pointer:hover {
    height: 12px!important;
    width: 12px!important;
    box-shadow: 0 0 0 1px var(--accent);
  }

.recent-color {
    transition-duration: 250ms;
    border-width: 1.5px;
    border-radius: 100%;
    height: 28px;
    width: 28px;
}
.recent-color:hover {
    opacity: 50%;
} 

.hover {
    opacity: 0;
}
.hover:hover {
    opacity: 100%;
}