.react-colorful__saturation {
  border: inherit !important;
  border-radius: 4px !important;
  box-shadow: inherit !important;
  height: 180.5px !important;
}
.react-colorful__hue {
  border-radius: 4px !important;
  margin-top: 7.5px !important;
  height: 8px !important;
}
#solid > .react-colorful__hue{
  margin-left: 2px !important;
  margin-right: 2px !important;
}
#solid {

}

.react-colorful__pointer {
  transition: ease-in-out !important;
  border: 2px solid var(--bg-main) !important;
  border-radius: 50% !important;
  height: 12px !important;
  width: 12px !important;
  cursor: pointer !important;
  pointer-events: all !important;
  appearance: none !important;
  box-shadow: 0 0 0 1px var(--contrast-sheer) !important;
}

.react-colorful__pointer:hover {
  height: 13px !important;
  width: 13px !important;
}

.react-colorful__pointer:active {
  height: 12px !important;
  width: 12px !important;
  box-shadow: 0 0 0 1px var(--accent) !important;
}

@media screen and (max-width: 768px) {
  .react-colorful {
    height: fit-content!important;
  }
  .react-colorful__saturation {
    height: 125px!important;
    flex-grow: 0!important;
  }
}

.hover {
  opacity: 0;
}
.hover:hover {
  opacity: 100%;
}

.ant-tabs-content {
  height: 100% !important;
}

.ant-tabs-content-holder {
  height: 100% !important;
}

.ant-tabs-tabpane {
  height: 100% !important;
}

.ant-tabs-content-left {
  height: 100% !important;
  max-height: 100% !important;
}

.qr-color-picker {
  width: 100%;
  justify-content: flex-start;
}
